a {

    text-decoration: none;  
    color: #8a928e;
     }

     .greenlinks a {
        color: #a4c752;
      }

      ul {

        font-family: 'PT Sans', sans-serif;
        list-style-type: none;
        display: inline-block;
        float: none;
        text-align: center;
        width: fit-content;
          margin-inline-start: 15%;
          padding-left: 45px;
          color: #8a928e; 
          
    }

    .box1 {
        background-color: #8fe393;
      }

      h1 {
        font-family: 'PT Sans', sans-serif;
        color: #a4c752;
        text-align: center;
        letter-spacing: 0.5mm;
        font-size: 270%;
        }

        h4 {
            font-family: 'PT Sans', sans-serif;
            color: #8a928e;
            text-align: center;
            font-weight: 50%;
             letter-spacing: 0.5mm;
             padding-bottom: 50px;
          }

          h2 { font-family: 'PT Sans', sans-serif;
            color: #a4c752;
             letter-spacing: 0.5mm;}
          
             img {
               height: 300px;
               width: 230px;
               align-items: center;
             }
             
            .specialText2 {
              font-family: 'PT Sans', sans-serif;
                color: #727a75;
                padding-bottom: 10px;
                text-align: center;
                display: block;
                font-size: 110%;
            }

            ol {
                list-style-type: none;
                align-items: center;
                display:inline-block;
                float: none;
                margin-inline-start: 90px;
                padding-left: 70px;
                font-family: 'PT Sans', sans-serif;
                   text-align: center;
                  width:230px;
                          color: #c1c9c4; 
              }
              
              body{
                background-color: #d1f7c8;
              
              }
              .specialText {
                font-family:'PT Sans', sans-serif;
                    color: #727a75;
               text-align: center;
               margin-left: 50px;
               margin-right: 50px;
               padding-bottom: 50px; 
               font-size: 120%;
              
              }
              
              footer {
                font-family:'PT Sans', sans-serif;
                    color: #727a75;
                    text-align: center;
              
              }

              h2{
                text-align: center;
              }