a {

    text-decoration: none;  
    color: #8a928e;
     }
    
     
    
     .greenlinks a {
       color: #a4c752;
     }
     
    

  .box1 {
      background-color: #8fe393;
      
    }

    
    
    h1 {
    font-family: 'PT Sans', sans-serif;
    color: #a4c752;
    text-align: center;
    letter-spacing: 0.5mm;
    font-size: 270%;
    }
    
    h4 {
      font-family: 'PT Sans', sans-serif;
      color: #8a928e;
      text-align: center;
      font-weight: 50%;
       letter-spacing: 0.5mm;
       padding-bottom: 50px;
    }
    
    h2 { 
        font-family: 'PT Sans', sans-serif;
      color: #a4c752;
       letter-spacing: 0.5mm;}

      
    ul {
        list-style-type: none;
                align-items: center;
                display:inline-block;
                float: none;
                margin-inline-start: 90px;
                padding-left: 70px;
                font-family: 'PT Sans', sans-serif;
                   text-align: center;
                  width:230px;
                          color: #9aa19e; 
                          
              }

              h5 {
                font-family: 'PT Sans', sans-serif;
                color: #8a928e; 
                text-align: center;
                
              }



    p {
        margin-bottom: 100px;
    }


img {
    height: 150px;
    width: 150px;
    display: inline-block;
   
}


    .specialText {
        font-family: 'PT Sans', sans-serif;
        color: #9aa19e;
        padding-bottom: 2;
    }

body{
    background-color: #d1f7c8;
  
  }
    
    .specialText {
      font-family:'PT Sans', sans-serif;
          color: #727a75;
     text-align: center;
     margin-left: 50px;
     margin-right: 50px;
     padding-bottom: 50px; 
     font-size: 120%;
    
    }

    
    
    footer {
      font-family:'PT Sans', sans-serif;
          color: #727a75;
          text-align: center;
    
    }

    