a {

    text-decoration: none;  
    color: #8a928e;
     }
    
     
    
     .greenlinks a {
       color: #a4c752;
     }
     
     ul {
    
        font-family: 'PT Sans', sans-serif;
        list-style-type: none;
        display: inline-block;
        float: none;
        text-align: center;
        width: fit-content;
          margin-inline-start: 15%;
          padding-left: 45px;
          color: #8a928e; 
          
    }
    
    .box1 {
      background-color: #8fe393;
    }
    
    h1 {
    font-family: 'PT Sans', sans-serif;
    color: #a4c752;
    text-align: center;
    letter-spacing: 0.5mm;
    font-size: 270%;
    }
    
    h4 {
      font-family: 'PT Sans', sans-serif;
      color: #8a928e;
      text-align: center;
      font-weight: 50%;
       letter-spacing: 0.5mm;
       padding-bottom: 50px;
    }
    
    h2 { font-family: 'PT Sans', sans-serif;
      color: #a4c752;
       letter-spacing: 0.5mm;}
    
   p {  font-family:'PT Sans', sans-serif;
    color: #727a75;
    font-size: 110%;
}

    
    body{
      background-color: #d1f7c8;
    
    }
    
    .specialText {
      font-family:'PT Sans', sans-serif;
          color: #727a75;
     text-align: center;
     margin-left: 50px;
     margin-right: 50px;
     padding-bottom: 50px; 
     font-size: 120%;
    
    }
    
    footer {
      font-family:'PT Sans', sans-serif;
          color: #727a75;
    
    }

    p {
      text-align: center;
    }
    
    h2{
      text-align: center;
    }

  * {
    box-sizing:border-box;
  }
  
  .column{
    float:left;
    width:33.33%;
    padding:5px;
  
  }




footer{
  text-align: center;
}




.flex-grid {
  display: flex;
  justify-content: space-between;
}
.flex-grid .col {
  width: 32%;
  margin-right: 20px;
  width: 400px;
  height: 300px;
  padding-bottom: 50px;
}
    
.flex-grid-buttons {
  display:flex;
  justify-content: space-between;
  
}

.flex-grid-buttons .button1 {
width:50%;
margin-left: 150px;
margin-top: 40px;
text-align: center;
}


    
